@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Work Sans', sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  background-image: url("bg.png");
 background-size: 100% 100%;
}

  .btn-info,
  .btn-info:hover,
  .btn-info:focus{
      color: #FFF !important;
      background-color: #00bbff !important;
      border-color: #00bbff !important;
  }

  .btn-info{
      opacity: .8;
      transition: all 0.1s;
      -webkit-transition: all 0.1s;
  }
  .btn-info:hover,
  .btn-info:focus{
      opacity: 1;
  }
  
  .navbar{
    /* background-color: rgba(0,0,0,0.5); */
    color: white;
    font-family: 'Poppins', sans-serif;
  }
  
  .nav-item a{
    color: white !important;
  }
  
  .nav-item a:hover{
    color: rgba(71, 179, 228, 1) !important;
  }
  
  .top-para{
    margin-bottom:0px !important;
  }
  
.buttons{
  margin-top:30px;
  margin-bottom:5px;
  margin-left:10px;
  margin-right: 10px;
  border-radius: 20px;
  width:75px;
}

  
  h1 {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    color: #fff;
    font-weight: bolder;
  }
  
  h2{
    cursor: pointer;
    margin: 30px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight:200;
  }
  
  h3 {
    font-size: 17px;
    color: #fff;
    font-weight: bold;
  }
  
  .c-row {
    margin:10px;
  }
  
  #team i {
    font-size: 26px;
    color: #fff;
  }
  
  #team p {
    color: #cecece;
  }
/*
  #team .card {
  background-color: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(20px);
  margin: auto;
  border-radius: 8px;
  border-color: rgba(255, 255, 255, 0.06);
  font-family: 'Poppins', sans-serif;
  color: #fff;
  }
  */
  
   /*border-radius: 20px;
    box-shadow: 5px 5px 15px rgb(71, 179, 228);
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
  */
  
  #team .card:hover {
    color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 10px rgba(71, 179, 228,0.5);
    
    cursor: pointer;
  }
  
  #team .card:hover h3,
  #team .card:hover i {
    color: #fff;
  }
  
  .round{
    width:100px;
    border-radius: 100px;
    margin-bottom: 20px;
    margin-bottom:30px;
  }
  
  .cds{
      margin-bottom:20px;
  }
  
  footer{
    background-color: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(20px);
    font-family: 'Poppins', sans-serif;
  }
  
  #foot{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  a{
    cursor: pointer;
  }

.btn:hover,
.btn:focus,
.btn:active{
    outline: 0 !important;
}
/* entire container, keeps perspective */
.card-container {
	  -webkit-perspective: 800px;
   -moz-perspective: 800px;
     -o-perspective: 800px;
        perspective: 800px;
        margin-bottom: 30px;
}
/* flip the pane when hovered */
.card-container:not(.manual-flip):hover .card,
.card-container.hover.manual-flip .card{
	-webkit-transform: rotateY( 180deg );
-moz-transform: rotateY( 180deg );
 -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}


.card-container.static:hover .card,
.card-container.static.hover .card {
	-webkit-transform: none;
-moz-transform: none;
 -o-transform: none;
    transform: none;
}
/* flip speed goes here */
.card {
	 -webkit-transition: -webkit-transform .5s;
   -moz-transition: -moz-transform .5s;
     -o-transition: -o-transform .5s;
        transition: transform .5s;
-webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
     -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	-webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
     -o-backface-visibility: hidden;
        backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
    backdrop-filter: blur(20px);
    margin: auto;
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 8px;
    border-color: rgba(255, 255, 255, 0.06);
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
/*
  background-color: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(20px);
  margin: auto;
  border-radius: 8px;
  border-color: rgba(255, 255, 255, 0.06);
  font-family: 'Poppins', sans-serif;
  color: #fff;
*/


/* front pane, placed above back */
.front {
	z-index: 2;
}

/* back, initially hidden pane */
.back {
		-webkit-transform: rotateY( 180deg );
   -moz-transform: rotateY( 180deg );
     -o-transform: rotateY( 180deg );
        transform: rotateY( 180deg );
        z-index: 3;
}

.back .btn-simple{
    position: absolute;
    left: 0;
    bottom: 4px;
}
/*        Style       */


.card{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.06);
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.06);
}
.card-container, .front, .back {
	width: 100%;
	height: 450px;
	border-radius: 4px;
}
.card .cover{
    height: 105px;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
}
.card .cover img{
    width: 100%;
}
.card .user{
    border-radius: 50%;
    display: block;
    height: 120px;
    margin: -55px auto 0;
    overflow: hidden;
    width: 120px;
}
.card .user img{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #FFFFFF;
    width: 100%;
}

.card .content{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 10px 20px 20px;
}
.card .content .main {
    min-height: 160px;
}
.card .back .content .main {
    height: 215px;
}
.card .name {
    font-size: 22px;
    line-height: 28px;
    margin: 10px 0 0;
    text-align: center;
    text-transform: capitalize;
}
.card h5{
    margin: 5px 0;
    font-weight: 400;
    line-height: 20px;
}
.card .profession{
    color: #999999;
    text-align: center;
    margin-bottom: 20px;
}
.card .footer {
    border-top: 1px solid rgba(255, 255, 255, 0.06);
    color: #999999;
    margin: 30px 0 0;
    padding: 10px 0 0;
    text-align: center;
}
.card .footer .social-links{
    font-size: 18px;
}
.card .footer .social-links a{
    margin: 0 7px;
}
.card .footer .btn-simple{
    margin-top: -6px;
}
.card .header {
    padding: 15px 20px;
    height: 90px;
}
.card .motto{
    border-bottom: 1px solid #EEEEEE;
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    text-align: center;
}

.card .stats-container{
	width: 100%;
	margin-top: 50px;
}
.card .stats{
	display: block;
	float: left;
	width: 33.333333%;
	text-align: center;
}

.card .stats:first-child{
	border-right: 1px solid #EEEEEE;
}
.card .stats:last-child{
	border-left: 1px solid #EEEEEE;
}
.card .stats h4{
	font-weight: 300;
	margin-bottom: 5px;
}
.card .stats p{
	color: #777777;
}
/*      Just for presentation        */

.title{
    color: #506A85;
    text-align: center;
    font-weight: 300;
    font-size: 44px;
    margin-bottom: 90px;
    line-height: 90%;
}
.title small{
    font-size: 17px;
    color: #999;
    text-transform: uppercase;
    margin: 0;
}
.space-30{
	height: 30px;
	display: block;
}
.space-50{
    height: 50px;
    display: block;
}
.space-200{
    height: 200px;
    display: block;
}
.ct-heart{
    color: #F74933;
}

 pre.prettyprint{
    background-color: #ffffff;
    border: 1px solid #999;
    margin-top: 20px;
    padding: 20px;
    text-align: left;
}
.atv, .str{
    color: #05AE0E;
}
.tag, .pln, .kwd{
     color: #3472F7;
}
.atn{
  color: #2C93FF;
}
.pln{
   color: #333;
}
.com{
    color: #999;
}

.btn-simple{
    opacity: .8;
    color: #666666;
    background-color: transparent;
}

.btn-simple:hover,
.btn-simple:focus{
    background-color: transparent;
    box-shadow: none;
    opacity: 1;
}
.btn-simple i{
    font-size: 16px;
}



/*       Fix bug for IE      */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .front, .back{
        -ms-backface-visibility: visible;
        backface-visibility: visible;
    }

    .back {
        visibility: hidden;
        -ms-transition: all 0.2s cubic-bezier(.92,.01,.83,.67);
    }
    .front{
        z-index: 4;
    }
    .card-container:not(.manual-flip):hover .back,
    .card-container.manual-flip.hover .back{
        z-index: 5;
        visibility: visible;
    }
}
